#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--teal);
}
#navbar h2 a{
    background: var(--teal);
    align-items: center;
    display: flex;
    gap: .5rem;
    
}

#navbar form {
    width: 300px;
    display: flex;
    gap: .3rem;
    background:none;
    
}
#navbar input {
    padding: .2em .8em;
    border-radius: .4rem;
    border:none;
    
}
#navbar form button{
    border:none;
    background-color: var(--bittersweet);
    border-radius: .4rem;
    color:white;
    padding: .3rem;
    font-size: 1.3rem;
    align-items: center;
    cursor: pointer;  
}
#navbar form button:hover{
    background-color: #f7d354;
}