:root{
  --main:#202125;
  --primary:#3F3F3F;
  --secundary:#484B4B;
  --teal:#008488;
  --bittersweet:#FF565A;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  background-color: var(--main);
  color:#fff;
  
}


a{
    text-decoration: none;
    color:var(--bittersweet);
    transition: .5s;
  }

